<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EternalPlay.ReusableCore.BusinessModel.Properties.Settings.LockingConnectionString"
            connectionString="Data Source=.\;Initial Catalog=ReusableCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>