<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <!-- NOTE:  This file is not used in the compiled assembly, it exists for Sql Type Data Set designer support, do NOT remove. -->
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EternalPlay.ReusableCore.Logging.Properties.Settings.LoggingConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Logging;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>