<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

    <appSettings>
        <add key="ApplicationName" value="Unit Test Application"/>
    </appSettings>
    
    <connectionStrings>
        <add name="EternalPlay.ReusableCore.Gluv.Properties.Settings.GluvReadConnectionString"
            connectionString="Data Source=LOCALHOST;Initial Catalog=ReusableCore;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>